.grid .for-image {
    height: 60px;
}
.grid .for-image img {
    max-width: 100%;
    max-height: 100%
}
.pagination .selected > a, .pagination .selected > a:hover {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    cursor: default;
    z-index: 2;
}
div.dataTables_info {
    padding-top: 8px;
}
div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}
div.dataTables_paginate {
    margin: 0;
    float: right;
}
.box .box-body .grid-view .dataTable {
    margin-bottom: 15px;
}
.box-body .grid-view {
    padding: 0;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    vertical-align: middle;
}
.update, .delete {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    padding: 5px;
}
.update:hover, .delete:hover {
    background-color: #428bca;
}
.update img, .delete img {
    max-width: 100%;
}